.option{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}

.accordionHolder{
    display:flex;
    flex-direction: column;
    gap:2px;
    max-height: 500px;
    overflow-y: auto;
    padding-right: 15px;
}

.accordionItem{
    flex: 5;

}

.optionHolder{
    display:flex;
    gap:10px;
    flex-direction: column;
    justify-content:flex-start;
    padding:10px;
}

.location{
    display:flex;
    flex-direction:row;
    gap:20px;
    align-items: center;
}