.editor{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    gap:20px;
    flex-direction:row;
    background-color:var(--background);
    padding:70px 30px;
    margin-top:20px;
    color: var(--text);
    box-shadow: 10px 10px 35px rgba(0,0,0,0.3);
}
.options{
    width:30%;
}
.heading{
    color:#5149b0;
    font-weight:400;
}
.drawing{
    width: min(90vw, 700px);
    position:relative;
    margin:0 auto;
}
.cgvbuttonholder{
    display:flex;
    flex-direction:row;
    margin-bottom: 2px;
    flex-wrap: wrap;
}
.svgwrap{
    position:relative;
}
.insertsvg {
    position:absolute;
    left:0;
}
.bordercircle{
    outline: 3px solid green; 
}
.tabs{
    width:16rem;
    height:2.5rem;
    padding:0.5rem 0;
    margin-bottom:0.5rem;
    display:flex;
    position:relative;
    flex-direction:row;
    border-radius:2rem;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.navBefore{
    content:"";
    position:absolute;
    background-color:#9198e5;
    background:linear-gradient(45deg,#7e90df,#5149b0);
    height:100%;
    width:8rem;
    z-index: -1;
    transition: .3s ease-out;
    border-radius:2rem;
}
.tab{
    cursor:pointer;
    width:8rem;
    transition: .3s ease-out;
    font-size:1rem;
}
.tabopen{
    cursor:pointer;
    width:8rem;
    font-size:1rem;
    transition: .3s ease-out;
    color:white;
}
.newFeature{
    display:flex;
    flex-direction:column;
    gap:20px;
    padding:20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    background-color: #fefefe;
}
.cgvButtons{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    flex-direction: row;
}
.optionTabs{
    display:flex;
    flex-direction:row;
    gap:20px;
    flex-wrap:wrap;
    margin-bottom: 20px;
}
.option{
    padding:3px;
    color:#5149b0;
    font-size: 0.8em;
    border-radius:5px;
    cursor:pointer;
}
.select{
    color:white;
    background-color:#5149b0;
}
.restrictionGrid{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap:20px;
}
.restrictionInvisible{
    color:#b1b1b1;
}
.optionOther{
    display:flex;
    flex-direction:column;
    gap:10px;
    justify-content:flex-start;
}
.legendMap{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    gap:5px;
}

.sequence{
    height:200px;
    overflow:auto;
    width:600px;
    white-space:pre-line;
    margin-bottom: 20px;
    color:var(--mid);
    font-family: Consolas, 'Courier New', Courier, monospace;
}
.sidebarholder{
    padding:35px;
    display:flex;
    flex-direction: column;
    gap:10px

}

.openlink{
    color:var(--plasmid3);
    text-decoration: underline;
}

.openlink :hover{
    color:var(--plasmid2);
}