.header{
    position:fixed; 
    width:100%; 
    height:3em;
    margin:0 auto;
    display:flex;
    background: var(--background);
    box-shadow: 0px 0px 15px #555;
    z-index: 100;
}
.svgholder{
    height:100%;
    position:relative;
    width: 50px;
    margin-left:20px;
}
.insertsvg {
    position:absolute;
    z-index:-1; 
}
.navbar{
    display:flex;
    height:100%;
    width:100%;
    gap:30px;
    position:relative;
    margin: 0;
    margin-left:30px;
    flex-direction: row;
    margin-bottom:50px;
    align-items:center;
}
.nav div{
    float:left;
}
.navbar div:last-child{
    margin-left:auto;
    margin-right:20px;
}
.logodiv{
    color:var(--text);
    margin:auto;
    text-align:center;
    margin-top:0px;
}
.logotitle{
    font-family:'Poppins',serif;
    font-weight: 500;
    font-size:3rem;
}
.navbaritem{
    cursor:pointer;
    position:relative;
    color:var(--text);
}
.navbaritem::after{
    display:block;
    content:'';
    width:0%;
    height:3.5px;
    background:var(--text);
    position:absolute;
    bottom:0;
    left:0;
    transition:0.2s ease-in-out;
}
.navbaritem:hover::after{
    width:100%;
    transition:0.2s ease-in-out;
}

.navselected{
    cursor:pointer;
    position:relative;
}
.navselected::after{
    display:block;
    content:'';
    width:100%;
    height:3.5px;
    background:var(--text);
    position:absolute;
    bottom:0;
    left:0;
    transition:0.2s ease-in-out;
}

.logosmall{
    font-size:1rem;
}
.closebutton{
    position:absolute;
    top:10px;
    right:10px;
    font-size:3em;
    color:#5149b0;
    cursor:pointer;
    transition:0.2s ease-in-out;
}
.closebutton:hover{
    transform: rotate(90deg) scale(1.1);
    transition:0.2s ease-in-out;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:var(--background);
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source:linear-gradient(#85c3e4, #9198e5);
    color: var(--text);
    white-space: pre-line;
    box-shadow: 10px 10px 25px rgba(0,0,0,0.5);
    padding:100px 50px;
    width:600px;
  }
.catchphrase{
    color:#ee615f;
}