.editor{
    display:flex;
    gap:20px;
    flex-direction:row;
    padding:70px 30px;
    margin:20px;
    box-shadow: 10px 10px 35px rgba(0,0,0,0.3);
    border-radius:20px;
}
.options{
    width:30%;
}
.heading{
    color:#5149b0;
    font-weight:400;
}
.drawing{
    width:70%;
    position:relative;
    height:600px;
    margin:0 auto;
}
.svgwrap{
    position:relative;
    width:500px;
    border:1px solid black;
    height:500px;

}
.insertsvg {
    position:absolute;
    left:0;
}
.bordercircle{
    outline: 3px solid green; 
}
.tabs{
    width:16rem;
    height:2.5rem;
    padding:0.5rem 0;
    margin-bottom:0.5rem;
    display:flex;
    position:relative;
    flex-direction:row;
    border-radius:2rem;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.navBefore{
    content:"";
    position:absolute;
    background-color:#9198e5;
    background:linear-gradient(45deg,#7e90df,#5149b0);
    height:100%;
    width:8rem;
    z-index: -1;
    transition: .3s ease-out;
    border-radius:2rem;
}
.tab{
    cursor:pointer;
    width:8rem;
    transition: .3s ease-out;
    font-size:1rem;
}
.tabopen{
    cursor:pointer;
    width:8rem;
    font-size:1rem;
    transition: .3s ease-out;
    color:white;
}